* {
  margin: 0%;
  padding: 0%;
  transition: 0.25s;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  user-select: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.body{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: start;
}
.header{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: start;
  box-shadow: 0px 0px 7px #00000025;
}
.fixed-header{
  position: fixed;
  z-index: 2;
}
.header-contenedor-logo{
  width: calc(100% - 30px);
  height: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #ec3d22;
  padding: 15px 15px;
}
.header-contenedor-logo p{
  color: #ffffff;
  font-size: clamp(25px, 2vw, 28px);
  font-weight: 600;
}
.nav{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  color: #ffffff;
  background-color: #ffffff;
}
.nav-ul{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 15px 15px;
}
.nav-ul-li{
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  grid-gap: 10px 10px;
  cursor: pointer;
  padding: 15px 15px;
  border-bottom: 2px #ffffff solid;
  list-style: none;
}
.nav-ul-li:hover{
  border-bottom: 2px #000000 solid;
}
.nav-ul-li svg{
  stroke: #000000;
  fill: transparent;
  width: 40px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.nav-ul-li a{
  color: #252525;
  font-size: clamp(16px, 1.5vw, 19.5px);
}
.main{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: start;
  align-content: start;
}
.footer{
  background-color: #141414;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: start;
  padding: 50px 50px;
  width: 100%;
  height: auto;
  gap: 50px 50px;
}
.contenedor-footer{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 25px 25px;
}
.contenedor-footer h3{
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
}
.opciones-footer{
  color: #ffffff;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 7px 7px;
}
.opciones-footer svg{
  height: 18px;
}
@media screen and (min-width: 0px) and (max-width: 800px){
  .nav{
    display: none;
  }
  .footer{
    padding: 20px 20px;
  }
}